@import "tailwindcss";

*{
  
}

@theme {
  --font-sans: "DM Sans", Arial, Helvetica, sans-serif;

  --color-primary: #E95102;
  --color-secondary:  #0F100D;
  --color-third: #FDECE3;
  --color-fourth: #333333;
  --color-fifth: #878786;
  --color-sixth: #E0E0E0;

}

@layer base {
  h1 { @apply text-6xl }
  h2 { @apply text-5xl }
  h3 { @apply text-4xl }
  h4 { @apply text-3xl }
  h5 { @apply text-2xl }
  h6 { @apply text-xl }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .chip {
    @apply bg-third rounded-full text-primary font-bold text-base py-2 px-5; 
  }

  .universal-button {
    @apply px-4 py-2 rounded-full font-bold cursor-pointer
  }

  .button-icon {
    @apply bg-primary text-white p-3 rounded-full cursor-pointer;
  }

  .input-subscribe {
    @apply bg-white border-2 border-primary w-full rounded-full py-3 px-5;
  }

}

.scroll-genre::-webkit-scrollbar {
  display: none;
}

.scroll-x::-webkit-scrollbar {
  height: 10px;
}

.scroll-x::-webkit-scrollbar-track {
  background: var(--color-sixth);
  border-radius: 4px;
}

.scroll-x::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}

.scroll-x::-webkit-scrollbar-thumb:hover {
  background: #555;
}
