@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", Arial, Helvetica, sans-serif;

  --color-primary: #E95102;
  --color-secondary:  #0F100D;
  --color-third: #FDECE3;
  --color-fourth: #333333;
  --color-fifth: #878786;
  --color-sixth: #E0E0E0;
}

@layer base {
  .flex-center {
    @apply flex justify-center items-center;
  }
 
  .flex-between {
    @apply flex justify-between items-center;
  }

  .title-section{
    @apply font-medium text-6xl
  }

  .button-icon {
    @apply bg-primary text-white p-3 rounded-full cursor-pointer
  }

  .input-subscribe {
    @apply bg-white border-2 border-primary w-full rounded-full py-3 px-5
  }
}
